.item-thumb {
  float: left;
  margin: 0 0 4px 4px;

  img {
    border: 2px solid #4c4a4a;
  }

  &:hover {
    opacity: 0.76;
  }
}

.list {
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  &:after {
    content: "";
    flex: auto;
  }
}
